@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');

body,
section.min-h-screen.flex.items-center.justify-center {
  background-color: #949d62;
}

@font-face {
  font-family: 'Lancelot';
  src: url('fonts/Lancelot-Regular.ttf');
}

.font-lancelot {
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lydian';
  src: url('fonts/LydianMTPro.otf');
}

.font-lydian {
  font-family: 'Lydian', serif;
}

@font-face {
  font-family: 'Railey';
  src: url('fonts/Railey.ttf');
}

.font-railey {
  font-family: 'Railey', serif;
}